body { 

    font-family:poppins, sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;

}

/** Header **/
#header-nav {
    background-color: rgb(252, 178, 118);
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url(/IMG/Logo-Mobile-White.svg) no-repeat;
    width: 80px;
    height: 80px;
    padding: 50px;
    border: 1px solid #310677;
    margin: 0px 10px 10px 0px;
}


#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color:#470e0e;
  text-align: center;
}
#nav-list a:hover {
  background: #9e4e11;
  color: rgb(255, 215, 215);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}

#nav-list a span {
  font-size: 1.5em;
}

.navbar-brand {

}

.navbar-brand h1 {
  color:rgb(111, 3, 51);
  font-weight: 700;
  line-height: .75;
  font-size: 2em;
}

.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
border: 1px solid rgb(107, 0, 0);
}

.navbar-header button.navbar-toggle {
  clear:both;
  margin-top:-30px;
}

#panel01 {
  background-color: rgb(250, 225, 183);
  padding:24px;
  border-radius: 16px;
  margin-bottom:24px;
}

/** Fonts **/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /*** breakpoints ***/

    /** Large devices **/
  @media (min-width: 1200px) {

  }

  /** Medium devices **/
  @media (min-width: 992ox) and (max-width: 1199px) {

  }



    /** small devices **/
  @media (min-width: 768px) and (max-width: 991px) {

  }

  /** extra small devices **/
  @media (max-width: 767px) {

    .navbar-brand {
      padding-top:10px;

    }

    .navbar-brand h1 {
      font-weight: 700;
      line-height: .75;
      font-size: 5vw;
    }

    .navbar-header button.navbar-toggle {
      margin-bottom:20px;
    }

    #collapsable-nav a {
      font-size: 1.2em;
    }

    #collapsable-nav a span {
      font-size: 1em;
      margin-right:8px;
    }

  }